#{if _company}
	<input type="hidden" name="${_alias}company.id" value="${_company?.id}" />
#{/if}
<p>
	<label for="${_alias}company.name">&{'companyName'}: </label>
	<input type="text" name="${_alias}company.name" value="${_company?.name}" />
</p>
<p>
	<label for="${_alias}company.nip">&{'companyNIP'}: </label>
	<input type="text" name="${_alias}company.nip" value="${_company?.nip}" />
</p>

</br>
<span><u><b>&{'address'}</b></u></span></br>
#{if _company?.address}
	<input type="hidden" name="${_alias}company.address.id" value="${_company?.address?.id}" />
#{/if}
<p>
	<label for="${_alias}company.address.street">&{'addressStreet'}: </label>
	<input type="text" name="${_alias}company.address.street" value="${_company?.address?.street}" />
</p>
<p>
	<label for="${_alias}company.address.postCode">&{'addressPostCode'}: </label>
	<input type="text" name="${_alias}company.address.postCode" value="${_company?.address?.postCode}" />
</p>
<p>
	<label for="${_alias}company.address.country">&{'addressCountry'}: </label>
	<input type="text" name="${_alias}company.address.country" value="${_company?.address?.country}" />
</p>

</br>
<span><u><b>&{'accounts'}</b></u></span></br>
<table>
	<tr>
		<th>&{'accountNumber'}</th>
		<th>&{'accountCurrency'}</th>
		<th>&{'actions'}</th>
	</tr>
	#{if _company?.accounts}
		#{list items:_company.accounts, as:'account'}
			<tr>
				#{account account:account, alias:'myCompany.', index:account_index - 1 /}
			</tr>
		#{/list}
	#{/if}
	<tr>
		<td>
			<input type="text" name="newAccountNumber" />
		</td>
		<td>
			#{select 'newAccountCurrency'}
				#{list items:models.Currency.values(), as:'currency'}
					#{option currency}${currency}#{/option}
				#{/list}
			#{/select}
		</td>
		<td>
			<button id="add">&{'add'}</button>
		</td>
	</tr>
</table>
<script type="text/javascript" charset="utf-8">
	$(function() {
	    $('#add').click(function() {
	    	var parentForm = $(this).closest('form');

	    	parentForm.attr('action', '${_addAccountAction}');

	    	parentForm.submit();

	    	return false;
	    });
	});
</script>